openapi: 3.2.0
info:
  title: Paystack Plan API
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
servers:
- url: https://api.paystack.co
  description: Base API endpoint
security:
- bearerAuth: []
tags:
- name: Plan
paths:
  /plan:
    post:
      tags:
      - Plan
      summary: Create Plan
      operationId: plan_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1plan/post/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              required:
              - name
              - amount
              - interval
              properties:
                name:
                  description: Name of plan
                  type: string
                amount:
                  description: Amount should be in kobo if currency is NGN, pesewas, if currency is GHS, and cents, if currency is ZAR
                  type: integer
                interval:
                  description: Interval in words. Valid intervals are daily, weekly, monthly,biannually, annually
                  type: string
                description:
                  description: A description for this plan
                  type: boolean
                send_invoices:
                  description: Set to false if you don't want invoices to be sent to your customers
                  type: boolean
                send_sms:
                  description: Set to false if you don't want text messages to be sent to your customers
                  type: boolean
                currency:
                  description: Currency in which amount is set. Allowed values are NGN, GHS, ZAR or USD
                  type: string
                invoice_limit:
                  description: "Number of invoices to raise during subscription to this plan. \nCan be overridden by specifying an invoice_limit while subscribing."
                  type: integer
      responses:
        '201':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    get:
      tags:
      - Plan
      summary: List Plans
      operationId: plan_list
      parameters:
      - in: query
        name: perPage
        schema:
          type: integer
        description: Number of records to fetch per page
      - in: query
        name: page
        schema:
          type: integer
        description: The section to retrieve
      - in: query
        name: interval
        schema:
          type: string
        description: Specify interval of the plan
      - in: query
        name: amount
        schema:
          type: integer
        description: The amount on the plans to retrieve
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        description: The start date
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The end date
      responses:
        '200':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Ok/content/application~1json/schema'
        '401':
          description: Unauthorized operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /plan/{code}:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Plan
      summary: Fetch Plan
      operationId: plan_fetch
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    put:
      tags:
      - Plan
      summary: Update Plan
      operationId: plan_update
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1plan~1%7Bcode%7D/put/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of plan
                  type: string
                amount:
                  description: Amount should be in kobo if currency is NGN, pesewas, if currency is GHS, and cents, if currency is ZAR
                  type: integer
                interval:
                  description: Interval in words. Valid intervals are daily, weekly, monthly,biannually, annually
                  type: string
                description:
                  description: A description for this plan
                  type: boolean
                send_invoices:
                  description: Set to false if you don't want invoices to be sent to your customers
                  type: boolean
                send_sms:
                  description: Set to false if you don't want text messages to be sent to your customers
                  type: boolean
                currency:
                  description: Currency in which amount is set. Allowed values are NGN, GHS, ZAR or USD
                  type: string
                invoice_limit:
                  description: "Number of invoices to raise during subscription to this plan. \nCan be overridden by specifying an invoice_limit while subscribing."
                  type: integer
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
components:
  responses:
    Ok:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
              message:
                type: string
              data:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
