openapi: 3.2.0
info:
  title: Paystack Subaccount API
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
servers:
- url: https://api.paystack.co
  description: Base API endpoint
security:
- bearerAuth: []
tags:
- name: Sub Account
paths:
  /subaccount:
    post:
      tags:
      - Sub Account
      summary: Create Subaccount
      operationId: subaccount_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1subaccount/post/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              required:
              - business_name
              - settlement_bank
              - account_number
              - percentage_charge
              properties:
                business_name:
                  description: Name of business for subaccount
                  type: string
                settlement_bank:
                  description: Bank code for the bank. You can get the list of Bank Codes by calling the List Banks endpoint.
                  type: string
                account_number:
                  description: Bank account number
                  type: string
                percentage_charge:
                  description: Customer's phone number
                  type: number
                  format: float
                description:
                  description: A description for this subaccount
                  type: string
                primary_contact_email:
                  description: A contact email for the subaccount
                  type: string
                primary_contact_name:
                  description: The name of the contact person for this subaccount
                  type: string
                primary_contact_phone:
                  description: A phone number to call for this subaccount
                  type: string
                metadata:
                  description: Stringified JSON object of custom data
                  type: string
      responses:
        '201':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    get:
      tags:
      - Sub Account
      summary: List Subaccounts
      operationId: subaccount_list
      parameters:
      - in: query
        name: perPage
        schema:
          type: integer
        description: Number of records to fetch per page
      - in: query
        name: page
        schema:
          type: integer
        description: The section to retrieve
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        description: The start date
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The end date
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /subaccount/{code}:
    parameters:
    - name: code
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Sub Account
      summary: Fetch Subaccount
      operationId: subaccount_fetch
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    put:
      tags:
      - Sub Account
      summary: Update Subaccount
      operationId: subaccount_update
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1subaccount~1%7Bcode%7D/put/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              properties:
                business_name:
                  description: Name of business for subaccount
                  type: string
                settlement_bank:
                  description: Bank code for the bank. You can get the list of Bank Codes by calling the List Banks endpoint.
                  type: string
                account_number:
                  description: Bank account number
                  type: string
                active:
                  description: Activate or deactivate a subaccount
                  type: boolean
                percentage_charge:
                  description: Customer's phone number
                  type: number
                  format: float
                description:
                  description: A description for this subaccount
                  type: string
                primary_contact_email:
                  description: A contact email for the subaccount
                  type: string
                primary_contact_name:
                  description: The name of the contact person for this subaccount
                  type: string
                primary_contact_phone:
                  description: A phone number to call for this subaccount
                  type: string
                metadata:
                  description: Stringified JSON object of custom data
                  type: string
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
components:
  responses:
    Ok:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
              message:
                type: string
              data:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
