openapi: 3.2.0
info:
  title: Paystack Settlement API
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
servers:
- url: https://api.paystack.co
  description: Base API endpoint
security:
- bearerAuth: []
tags:
- name: Settlement
paths:
  /settlement:
    get:
      tags:
      - Settlement
      summary: Fetch Settlements
      operationId: settlements_fetch
      parameters:
      - name: perPage
        in: query
        schema:
          type: integer
        example: '50'
      - name: page
        in: query
        schema:
          type: integer
        example: '2'
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /settlement/{id}/transaction:
    get:
      tags:
      - Settlement
      summary: Settlement Transactions
      operationId: settlements_transaction
      parameters:
      - name: perPage
        in: query
        schema:
          type: integer
        example: '50'
      - name: page
        in: query
        schema:
          type: integer
        example: '2'
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
components:
  responses:
    Ok:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
              message:
                type: string
              data:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
