openapi: 3.0.1
info:
  title: Paystack Accept Payments Balance Verification API
  description: Initialize, verify, charge, and manage one-time card, bank, USSD, mobile money, and QR payments. The core API for accepting payments through Paystack across Africa.
  version: 1.0.0
  contact:
    name: Paystack Support
    url: https://support.paystack.com
    email: support@paystack.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.paystack.co
  description: Base API endpoint
security:
- bearerAuth: []
tags:
- name: Verification
paths:
  /bvn/match:
    post:
      tags:
      - Verification
      summary: Match Service
      operationId: verification_bvnMatch
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1bvn~1match/post/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              required:
              - account_number
              - bank_code
              - bvn
              properties:
                account_number:
                  description: Bank Account Number
                  type: string
                bank_code:
                  description: You can get the list of banks codes by calling the List Bank endpoint
                  type: integer
                bvn:
                  description: 11 digits Bank Verification Number
                  type: string
                first_name:
                  description: Customer's first name
                  type: string
                middle_name:
                  description: Customer's middle name
                  type: string
                last_name:
                  description: Customer's last name
                  type: string
      responses:
        '201':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /bank/resolve_bvn/{bvn}:
    get:
      tags:
      - Verification
      summary: Resolve BVN
      operationId: verification_resolveBvn
      parameters:
      - name: bvn
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /bank/resolve:
    get:
      tags:
      - Verification
      summary: Resolve Account Number
      operationId: verification_resolveAccountNumber
      parameters:
      - name: account_number
        in: query
        schema:
          type: integer
        example: 0022728151
      - name: bank_code
        in: query
        schema:
          type: integer
        example: '063'
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /decision/bin/{bin}:
    get:
      tags:
      - Verification
      summary: Resolve Card BIN
      operationId: verification_resolveCardBin
      parameters:
      - name: bin
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /country:
    get:
      tags:
      - Verification
      summary: List Countries
      operationId: verification_listCountries
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /bank:
    get:
      tags:
      - Verification
      summary: Fetch Banks
      operationId: verification_fetchBanks
      parameters:
      - in: query
        name: country
        schema:
          type: string
      - in: query
        name: pay_with_bank_transfer
        schema:
          type: boolean
      - in: query
        name: use_cursor
        schema:
          type: boolean
      - in: query
        name: perPage
        schema:
          type: integer
      - in: query
        name: next
        schema:
          type: string
      - in: query
        name: previous
        schema:
          type: string
      - in: query
        name: gateway
        schema:
          type: string
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /address_verification/states:
    get:
      tags:
      - Verification
      summary: List States (AVS)
      operationId: verification_avs
      parameters:
      - in: query
        name: type
        schema:
          type: string
      - in: query
        name: country
        schema:
          type: string
      - in: query
        name: currency
        schema:
          type: string
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
