openapi: 3.2.0
info:
  title: Paystack Page API
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
servers:
- url: https://api.paystack.co
  description: Base API endpoint
security:
- bearerAuth: []
tags:
- name: Page
paths:
  /page:
    post:
      tags:
      - Page
      summary: Create Page
      operationId: page_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1page/post/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  description: Name of page
                  type: string
                description:
                  description: The description of the page
                  type: string
                amount:
                  description: Amount should be in kobo if currency is NGN, pesewas, if currency is GHS, and cents, if currency is ZAR
                  type: integer
                slug:
                  description: URL slug you would like to be associated with this page. Page will be accessible at https://paystack.com/pay/[slug]
                  type: string
                metadata:
                  description: Stringified JSON object of custom data
                  type: string
                redirect_url:
                  description: If you would like Paystack to redirect to a URL upon successful payment, specify the URL here.
                  type: string
                custom_fields:
                  description: If you would like to accept custom fields, specify them here.
                  type: array
                  items:
                    type: object
      responses:
        '201':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    get:
      tags:
      - Page
      summary: List Pages
      operationId: page_list
      parameters:
      - in: query
        name: perPage
        schema:
          type: integer
        description: Number of records to fetch per page
      - in: query
        name: page
        schema:
          type: integer
        description: The section to retrieve
      - in: query
        name: from
        schema:
          type: string
          format: date-time
        description: The start date
      - in: query
        name: to
        schema:
          type: string
          format: date-time
        description: The end date
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /page/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Page
      summary: Fetch Page
      operationId: page_fetch
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    put:
      tags:
      - Page
      summary: Update Page
      operationId: page_update
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1page~1%7Bid%7D/put/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of page
                  type: string
                description:
                  description: The description of the page
                  type: string
                amount:
                  description: Amount should be in kobo if currency is NGN, pesewas, if currency is GHS, and cents, if currency is ZAR
                  type: integer
                active:
                  description: Set to false to deactivate page url
                  type: boolean
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /page/check_slug_availability/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Page
      summary: Check Slug Availability
      operationId: page_checkSlugAvailability
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
  /page/{id}/product:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Page
      summary: Add Products
      operationId: page_addProducts
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1page~1%7Bid%7D~1product/post/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              required:
              - product
              properties:
                product:
                  description: IDs of all products to add to a page
                  type: array
                  items:
                    type: string
      responses:
        '201':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
components:
  responses:
    Ok:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
              message:
                type: string
              data:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
