openapi: 3.2.0
info:
  title: Paystack Integration API
  description: The OpenAPI specification of the Paystack API that merchants and developers can harness to build financial solutions in Africa.
  version: 1.0.0
servers:
- url: https://api.paystack.co
  description: Base API endpoint
security:
- bearerAuth: []
tags:
- name: Integration
paths:
  /integration/payment_session_timeout:
    get:
      tags:
      - Integration
      summary: Fetch Payment Session Timeout
      operationId: integration_fetchPaymentSessionTimeout
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
    put:
      tags:
      - Integration
      summary: Update Payment Session Timeout
      operationId: integration_updatePaymentSessionTimeout
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/paths/~1integration~1payment_session_timeout/put/requestBody/content/application~1json/schema'
          application/json:
            schema:
              type: object
              required:
              - timeout
              properties:
                timeout:
                  description: Time in seconds before a transaction becomes invalid
                  type: string
      responses:
        '200':
          $ref: '#/paths/~1plan/get/responses/200'
        '401':
          $ref: '#/paths/~1plan/get/responses/401'
        '404':
          $ref: '#/paths/~1plan/get/responses/401'
        default:
          description: Server error
components:
  responses:
    Ok:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
              message:
                type: string
              data:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
